---
// Footer component with attribution
---

<footer class="footer">
  Built by <a href="https://abhiprasad.github.io/" target="_blank" rel="noopener noreferrer"><span class="jump-text"><span>A</span><span>b</span><span>h</span><span>i</span><span>j</span><span>e</span><span>e</span><span>t</span><span>&nbsp;</span><span>P</span><span>r</span><span>a</span><span>s</span><span>a</span><span>d</span></span></a>
</footer>
